@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 33% 96%; /* #F4F4F2 */
    --foreground: 215 15% 34%; /* #495464 */
    --card: 0 0% 91%; /* #E8E8E8 */
    --card-foreground: 215 15% 34%; /* #495464 */
    --popover: 0 0% 91%; /* #E8E8E8 */
    --popover-foreground: 215 15% 34%; /* #495464 */
    --primary: 215 15% 34%; /* #495464 */
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 91%; /* #E8E8E8 */
    --secondary-foreground: 215 15% 34%; /* #495464 */
    --muted: 222 11% 82%; /* #CFD2D9 - Lighter version of #BBBFCA */
    --muted-foreground: 215 15% 45%;
    --accent: 222 11% 77%; /* #BBBFCA */
    --accent-foreground: 215 15% 34%; /* #495464 */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 15% 88%;
    --input: 0 0% 100%;
    --ring: 222 11% 77%; /* #BBBFCA */
    --radius: 0.5rem;
  }

  .dark {
    --background: 215 15% 15%;
    --foreground: 48 33% 96%;
    --card: 215 15% 20%;
    --card-foreground: 48 33% 96%;
    --popover: 215 15% 15%;
    --popover-foreground: 48 33% 96%;
    --primary: 48 33% 96%;
    --primary-foreground: 215 15% 20%;
    --secondary: 215 15% 25%;
    --secondary-foreground: 48 33% 96%;
    --muted: 215 15% 30%;
    --muted-foreground: 48 33% 80%;
    --accent: 222 11% 50%;
    --accent-foreground: 48 33% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 15% 30%;
    --input: 215 15% 25%;
    --ring: 222 11% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-bold;
    background-image: linear-gradient(to bottom, #FFFFFF, hsl(var(--background)));
  }
}

@layer utilities {
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
  @keyframes marquee2 {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
  }
}
